{% load static %}

<div class="container">
    <div class="row">
        <div class="col-4 background-div">.</div>
        <div class="col-4 content-div">
            <div class="container">
                <img class="img-fluid" src="{% static 'images/logo1.png' %}" alt="logo">
            </div>
            <div class="container text-container">
                <form method="post" action="{% url 'users:login' %}">
                {% csrf_token %}
                    <table>
                        <tr>
                            <h3>Welcome Back</h3>
                        </tr>
                        <tr class="username-text">
                            <td>{{ form.username.label_tag }}</td>
                        </tr>
                        <tr class="username-text">
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr class="password-text">
                            <td>{{ form.password.label_tag }}</td>
                        </tr>
                        <tr class="password-text">    
                            <td>{{ form.password }}</td>
                        </tr>
                        <tr>
                            {% if form.errors %}
                                <p>Your username and password didn't match. Please try again.</p>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if next %}
                                {% if user.is_authenticated %}
                                    <p>Your account doesn't have access to this page. To proceed,
                                    please login with an account that has access.</p>
                                {% else %}
                                    <p>Please login to see this page.</p>
                                {% endif %}
                            {% endif %}
                        </tr>
                    </table>

                    <div class="button-container">
                        <button type="submit">
                            Login
                        </button>
                    </div>
                </form>
                <p><a href="{% url 'users:password_reset' %}">Forgot your password?</a></p>
                <p><a href="{% url 'users:registration' %}">Don't have an account yet? Create Account</a></p>
            </div>
            <footer>
                <ul>
                    About ·
                    Advertising ·
                    Blog ·
                    Careers ·
                    Developers ·
                    Marketing ·
                    © 2024 Tweeter Corp.
                </ul>
            </footer>
        </div>
        <div class="col-4 background-div">.</div>
    </div>
</div>

<!-- Bootstrap CSS CDN -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/login.css' %}">
