{% load static %}
<form hx-post="{{ request.path }}" class="modal-content">
{% csrf_token %}
    <div class="modal-header justify-content-center text-center">
        <div class="modal-title ">
            <h3>Create Account</h3>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <p>- Join the conversation now</p>
            <table>
                <tr class="email-text-register">
                    <td>{{ form.email }}</td>
                    
                    <tr class="error-text">
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <td>{{ error }}</td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                </tr>
                <tr class="username-text-register">
                    <td>{{ form.user_name }}</td>

                    <tr class="error-text">
                        {% if form.user_name.errors %}
                            {% for error in form.user_name.errors %}
                                <td>{{ error }}</td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                </tr>
                <tr class="dob-text-register">
                    <td>Date of birth:</td>
                </tr>
                <tr class="dob-widget-register">
                    <td>{{ form.date_of_birth }}</td>

                    <tr class="error-text">
                        {% if form.date_of_birth.errors %}
                            {% for error in form.date_of_birth.errors %}
                                <td>{{ error }}</td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                </tr>
                <tr class="password-text-register">
                    <td>{{ form.password1 }}</td>
                    <td>{{ form.password2 }}</td>

                    <tr class="error-text">
                        {% if form.password2.errors %}
                            {% for error in form.password2.errors %}
                                <td>{{ error }}</td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button id="modal-close" type="button" data-bs-dismiss="modal">Cancel</button>
        <button id="modal-return" type="submit" data-url="{% url 'homepage:home' %}">Sign Up</button>
    </div>
</form>

