{% load static %}

<form hx-post="{{ request.path }}" class="modal-content">
  {% csrf_token %}
    <div class="modal-header">
        <div class="row">
            <h3 style="font-weight:600; font-size: 22px; margin-left: 50%;">Delete Post</h3>
        </div>
    </div>
    <div class="modal-body">
        <div class="row body">
            <span style="font-weight: 600; text-align: center;">Are you sure ?</span>
            <p style="font-weight: 400; text-align: center;">This cannot be undone</p>
        </div>
        <div class="row footer">
            <button id="modal-reply-button" type="submit">Delete</button>
            <p>.</p>
            <button id="modal-post-close" type="button" data-bs-dismiss="modal">Cancel</button>
        </div>
    </div>
</form>