{% extends 'base.html' %}
{% load static %}

{% block content_wrapper %}
    <div class="content-wrapper">
        <!-- OG POST -->
        {% if og_post %}
            {% include 'display_ogpost_individual.html' with og_p=og_post %}
        {% else %}
            <p class="homepage-no-posts-text">Error loading post...</p>
        {% endif %}

        <!-- New Comment Form -->
        <div class="row comment-form">
            {% include 'new_comment_lite.html' with form=new_comment_form %}
        </div>

        <!-- OP COMMENTS -->
        {% if op_comments %}
        <div class="row op-comments">
            {% include 'post_individual.html' with latest_posts_list=op_comments %}
        </div>  
        <!-- ALL COMMENTS -->
        {% elif latest_comments_list %} 
        <div class="row all-comments">
            {% include 'post_individual.html' with latest_posts_list=latest_comments_list %}
        </div>
        {% else %}
        <div class="row no-comments">
            <p class="text-center homepage-no-posts-text">No comments yet...</p>
        </div>
        {% endif %}

        <!-- Create Comment Modal -->
        <div id="comment-modal" class="modal fade overtop-overlay-content">
            <div id="comment" class="modal-dialog" hx-target="this"></div>
        </div>
        
        <!-- Create Quote Modal -->
        <div id="quote-modal" class="modal fade overtop-overlay-content">
            <div id="quote" class="modal-dialog" hx-target="this"></div>
        </div>

        <!-- Block User Modal -->
        <div id="block-user-modal" class="modal fade overtop-overlay-content">
            <div id="block-user" class="modal-dialog" hx-target="this"></div>
        </div>

        <!-- Delete Post Modal -->
        <div id="delete-post-modal" class="modal fade overtop-overlay-content">
            <div id="delete-post" class="modal-dialog" hx-target="this"></div>
        </div>

        <!-- Pinned Post Toast -->
        <div id="myToast" class="toast position-fixed p-3" role="alert" aria-live="assertive" aria-atomic="true">
                <i class="fa-solid fa-thumbtack" style="padding-right: 5px;"></i><span>Post Successfully Pinned</span>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/list_posts.css' %}">
    <link rel="stylesheet" href="{% static 'css/display_posts.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/list_posts.js' %}"></script>
    <script src="{% static 'js/display_posts.js' %}"></script>
{% endblock %}