{% load static %}
<form hx-post="{{ request.path }}" class="modal-content" id="new-comment-form-textarea">
  {% csrf_token %}
  <div class="modal-body">
    <div class="row">
      <div class="col-2">
        <div class="col-7"><img class="img-fluid rounded-circle" src="{% static 'images/user1.avif' %}" alt="profile picture"></div>
      </div>
      <div class="col-11 post-form-body">
       {{ form.body }}
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <span id="character-indicator"></span>
    <button id="modal-reply-button" type="submit"><h3>Reply</h3></button>
  </div>
</form>
