{% load static %}

<div class="card" onclick="window.location.href='{% url 'posts:display_post' post.post.id post.poster_profile.id %}';event.stopPropagation();">
    <div class="card-header">
        <div class="container">
            <div class="row text-center">
                <div class="col-2" id="profile-pic">
                    <div class="col-8">
                        <a href="{% url 'profile:view_profile' post.poster_profile.id %}" onclick="event.stopPropagation();" class="user-profile-links"><img class="img-fluid rounded-circle" src="{% static 'images/user1.avif' %}" alt="profile picture"></a>
                    </div>
                </div>
                <div class="col-8 text-start profile-info-text">
                    <span class="profile-ldj"><a href="{% url 'profile:view_profile' post.poster_profile.id %}" onclick="event.stopPropagation();" class="user-profile-links">{{ post.poster_profile.display_name }}</a></span>
                    <span class="profile-ldj-light">@{{ post.poster_account.username }}</span>
                    {% if post.post.time_since %}
                    <span class="profile-ldj-light">· {{ post.post.time_since }}</span>
                    {% else %}
                    <span class="profile-ldj-light">· {{ post.post.pub_date | date:"M d, Y" }}</span>
                    {% endif %}
                </div>
                <div class="col-2">
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-12 text-start profile-info-text">
                    <p class="post-body-text">
                        {{ post.post.body }}
                    </p>
                    <!-- Will need to truncate chars when an image is included in post_in_post -->

                    <p class="post-body-text" id="comment-modal-reply-info-div">
                        <span id="reply-username-text">Replying to <a href="{% url 'profile:view_profile' post.poster_profile.id %}">@{{ post.poster_account.username }}</a></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

