{% load static %}

<form hx-post="{{ request.path }}" class="modal-content">
  {% csrf_token %}
    <div class="modal-header">
        <div class="row">
            {% if type %}
            <h3 style="font-weight:600; font-size: 22px; margin-left: 50%;">Block Profile</h3>
            {% else %}
            <h3 style="font-weight:600; font-size: 22px; margin-left: 50%;">Mute Profile</h3>
            {% endif %}
        </div>
    </div>
    <div class="modal-body">
        <div class="row body">
            {% if type %}
            <span style="font-weight: 600; text-align: center;">Are you sure you want to block this user ?</span>
            <p style="font-weight: 400; text-align: center;">You will not be able to see any posts from this user or view their profile until you unblock them</p>
            {% else %}
            <span style="font-weight: 600; text-align: center;">Are you sure you want to mute this user ?</span>
            <p style="font-weight: 400; text-align: center;">You will not see any posts from this user appear on your timeline until you unmute them</p>
            {% endif %}
        </div>
        <div class="row footer">
            {% if type %}
            <button id="modal-reply-button" type="submit">Block</button>
            {% else %}
            <button id="modal-reply-button" type="submit">Mute</button>
            {% endif %}
            
            <p>.</p>
            <button id="modal-post-close" type="button" data-bs-dismiss="modal">Cancel</button>
        </div>
    </div>
</form>