{% extends 'base.html' %}
{% load static %}

{% block title %} {{ profile_data.username }}'s Profile {% endblock %}

{% block content_wrapper %}
<div class="container">
    <div class="row">
        {% include 'view_profile.html' with profile=profile_data %}

        <nav class="nav nav-pills nav-justified">
            <a class="nav-link" href="{% url 'profile:posts' profile_data.id %}">Posts</a>
            <a class="nav-link active" href="#">Replies</a>
            <a class="nav-link" href="{% url 'profile:media' profile_data.id %}">Media</a>
            <a class="nav-link" href="{% url 'profile:likes' profile_data.id %}">Likes</a>
        </nav>
    </div>
    <div class="content-wrapper">
        {% if latest_posts_list %}
        {% for post in latest_posts_list %}
            <div class="card">
                <div class="card-header">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-2" id="profile-pic">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <img class="img-fluid rounded-circle" src="{% static 'images/user1.avif' %}" alt="profile picture">
                                </div>
                                <div class="col-2"></div>
                            </div>
                            <div class="col-8 text-start profile-info-text">
                                <span class="profile-ldj">{{ post.poster_profile.display_name }}</span>
                                <span class="profile-ldj-light">@{{ post.poster_account.username }}</span>
                                <span class="profile-ldj-light">· {{ post.post.pub_date | date:"F j, Y" }}</span>
                            </div>
                            <div class="col-2" id="post-buttons">
                                <button>Details</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-10 text-start profile-info-text">
                                <p class="post-body-text">
                                    {{ post.post.body }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-body-secondary">
                    <div class="container">
                        <div class="row text-center">
                            <!-- First Button + Counter -->
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <button id="comment_button" data-id="post.post.id" data-url="{% url 'posts:get_comments_count' post.post.id %}" hx-get="{% url 'posts:comment' post.post.id %}" hx-target="#comment">
                                    <!-- Comment Icon-->
                                    <i class="fa-regular fa-comment default-icon"></i>
                                </button>
                                <span class="ms-2" id="post-comments-{{ post.post.id }}">{{ post.comments_count }}</span> <!-- Counter or any text -->
                            </div>

                            <!-- Second Button + Counter -->
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <div class="btn-group dropup">
                                    <button hx-get="{% url 'posts:repost' post.post.id %}" hx-target="#post-reposts-{{ post.post.id }}">
                                        <!-- Repost Icon: Unreposted State -->
                                        <i class="fa-solid fa-retweet default-icon"></i>
                                        <!-- Repost Icon: Reposted State -->
                                        <!-- <i class="fa-solid fa-retweet reposted-icon-change"></i>  -->
                                    </button>
                                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <!-- Dropdown menu links -->
                                        <li><a class="dropdown-item" hx-get="{% url 'posts:quote' post.post.id %}" hx-target="#quote" href="#">Quote</a></li>
                                    </ul>
                                </div>
                                <span class="ms-2" id="post-reposts-{{ post.post.id }}">{{ post.reposts_count }}</span>
                            </div>

                            <!-- Third Button + Counter -->
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <button hx-get="{% url 'posts:like' post.post.id %}" hx-target="#post-likes-{{ post.post.id }}">
                                    <!-- Like Icon: Unliked State -->
                                    <i class="fa-regular fa-heart default-icon"></i>
                                    <!-- Like Icon: Liked State -->
                                    <!-- <i class="fa-solid fa-heart liked-icon-change"></i>  -->
                                </button>
                                <span class="ms-2" id="post-likes-{{ post.post.id }}">{{ post.likes_count }}</span> <!-- Counter or any text -->
                            </div>

                            <!-- Fourth Button + Counter -->
                            <div class="col-3 d-flex justify-content-center align-items-center">
                            <button hx-get="{% url 'posts:bookmark' post.post.id %}" hx-target="#post-bookmarks-{{ post.post.id }}">
                                <!-- Bookmark Icon: Unbookmark State -->
                                <i class="fa-regular fa-star default-icon"></i>
                                <!-- Bookmark Icon: Bookmarked State -->
                                <!-- <i class="fa-solid fa-star bookmarked-icon-change"></i>  -->
                            </button>
                            <span class="ms-2" id="post-bookmarks-{{ post.post.id }}">{{ post.bookmarks_count }}</span> <!-- Counter or any text -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
            <p class="homepage-no-posts-text">Nothing here...</p>
        {% endif %}
        <!-- Create Comment Modal -->
        <div id="comment-modal" class="modal fade">
            <div id="comment" class="modal-dialog" hx-target="this"></div>
        </div>
        
        <!-- Create Quote Modal -->
        <div id="quote-modal" class="modal fade">
            <div id="quote" class="modal-dialog" hx-target="this"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/list_posts.css' %}">
    <link rel="stylesheet" href="{% static 'css/view_profile.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/list_posts.js' %}"></script>
    <script src="{% static 'js/view_profile.js' %}"></script>
{% endblock %}