<div class="content-wrapper">
    <p></p>
    {% if latest_profile_posts %}
    {% include 'post_individual.html' with latest_posts_list=latest_profile_posts%}
    {% endif %}
    <!-- Create Comment Modal -->
    <div id="comment-modal" class="modal fade">
        <div id="comment" class="modal-dialog" hx-target="this"></div>
    </div>
    
    <!-- Create Quote Modal -->
    <div id="quote-modal" class="modal fade">
        <div id="quote" class="modal-dialog" hx-target="this"></div>
    </div>

    <!-- Block User Modal -->
    <div id="block-user-modal" class="modal fade">
        <div id="block-user" class="modal-dialog modal-sm" hx-target="this"></div>
    </div>

    <!-- Delete Post Modal -->
    <div id="delete-post-modal" class="modal fade">
        <div id="delete-post" class="modal-dialog modal-sm" hx-target="this"></div>
    </div>

    <!-- Pinned Post Toast -->
    <div id="myToast" class="toast position-fixed p-3" role="alert" aria-live="assertive" aria-atomic="true">
            <i class="fa-solid fa-thumbtack" style="padding-right: 5px;"></i><span>Post Successfully Pinned</span>
    </div>
</div>