{% load static %}

<form method="POST" action="{% url 'users:logout' %}">
{% csrf_token %}

    <div class="row" id="logout-button-view">
        <button type="submit">
            Logout
        </button>
    </div>

    <div class="row" id="profile-info-view">
        <div class="col-4" id="profile-pic">
            <div class="col-10">
                <img class="img-fluid rounded-circle" src="{% static 'images/user1.avif' %}" alt="profile picture">
            </div>
        </div>
        <div class="col-8 text-portion">
            <span class="name-text-logout">{{ profile_info.display_name }}</span>
            <br>
            <span class="username-text-logout">@{{profile_info.username }}</span>
        </div>
    </div>
</form>