{% extends 'base.html' %}
{% load static %}

{% block title %} {{ profile_data.username }}'s Profile {% endblock %}

{% block content_wrapper %}
<div class="container">
    <div class="row">
        {% include 'view_profile.html' with profile=profile_data %}

        <nav class="nav nav-pills nav-justified">
            <a class="nav-link" href="{% url 'profile:posts' profile_data.id %}">Posts</a>
            <a class="nav-link" href="{% url 'profile:comments' profile_data.id %}">Replies</a>
            <a class="nav-link active" href="#">Media</a>
            <a class="nav-link" href="{% url 'profile:likes' profile_data.id %}">Likes</a>
        </nav>
    </div>
    <div class="content-wrapper">
        <p></p>
        {% if latest_posts %}
        {% include 'post_individual.html' with latest_posts_list=latest_posts%}
        {% endif %}
        <!-- Create Comment Modal -->
        <div id="comment-modal" class="modal fade">
            <div id="comment" class="modal-dialog" hx-target="this"></div>
        </div>
        
        <!-- Create Quote Modal -->
        <div id="quote-modal" class="modal fade">
            <div id="quote" class="modal-dialog" hx-target="this"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/list_posts.css' %}">
    <link rel="stylesheet" href="{% static 'css/view_profile.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/list_posts.js' %}"></script>
    <script src="{% static 'js/view_profile.js' %}"></script>
{% endblock %}


