{% load static %}

<form hx-post="{{ request.path }}" class="modal-content">
  {% csrf_token %}
  <div class="modal-header">
    <button id="modal-post-close" type="button" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
    <h5>Edit Profile</h5>
    <button class="button-fl-fr-text" type="submit">Save</button>
  </div>
  <div class="modal-body">
    <div class="row background-img-div" style="background-image: url('{% static 'images/bg_2.jpg' %}');"></div>

    <div class="row profile-content-div">
      <div class="col-3">
        <img class="img-fluid rounded-circle" src="{% static 'images/user1.avif' %}" alt="profile picture"></a>
      </div>
    </div>

    <div class="row edit-field">
      <div class="row">
        <label class="label-text" id="name-label">Name</label>
        <p>{{ form.display_name }}</p>
      </div>
      
      <div class="row">
        <p>{{ form.bio }}</p>
      </div>

      <div class="row">
        <label class="label-text" id="location-label">Location</label>
        <p>{{ form.location }}</p>
      </div>

      <div class="row">
        <p>Date of Birth: <a href="#" id="confirm-edit-birthday-button">Edit</a></p>

        <div id="birthday-field" class="birthday-field">
          <p>{{ profile.dob | date:"F d, Y" }}</p>
        </div>
        
        <div id="edit-birthday" class="edit-birthday-field">
          <p>
            This should be the date of birth of the person using the account. Even if you’re making an account for your business, event, or cat.
          </p>
          <div class="row">
            <div class="col-6 fields">
              <label>Month</label>
              {{ form.month }}
            </div>
            <div class="col-3 fields">
              <label>Day</label>
              {{ form.day }}
            </div>
            <div class="col-3 fields">
              <label>Year</label>
              {{ form.year }}
            </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</form>