{% load static %}

<form hx-post="{{ request.path }}" class="modal-content">
  {% csrf_token %}
  <div class="modal-header">
    <button id="modal-post-close" type="button" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
    <h5>Edit Profile</h5>
    <button class="button-fl-fr-text" type="submit">Save</button>
  </div>
  <div class="modal-body">
    <div class="row background-img-div" style="background-image: url('{% static 'images/bg_2.jpg' %}');"></div>

    <div class="row profile-content-div">
      <div class="col-3">
        <img class="img-fluid rounded-circle" src="{% static 'images/user1.avif' %}" alt="profile picture"></a>
      </div>
    </div>

    <div class="row">
      <div class="row edit-field">
        <!-- <p>Name:</p> -->
        <p>{{ form.display_name }}</p>
      </div>
      
      <div class="row">
        <p>{{ form.bio }}</p>
      </div>

      <div class="row">
        <p>{{ form.location }}</p>
      </div>

      <div class="row">
        <p>Date of Birth:</p>
        <p>{{ form.date_of_birth }}</p>
      </div>
      
    </div>
  </div>
</form>