{% load static %}

<div class="container">
    <div class="row back-button-div">
        <div class="col-1">
            <button onclick="window.location.href='{% url 'profile:back' %}'"><i class="fa-solid fa-arrow-left-long fa-xl"></i></button>
        </div>
        <div class="col-11">
            <span class="profile-displayname-text">{{ profile.display_name }}</span>
            <p class="profile-fl-fr-text">{{ profile.posts_count }} posts</p>
        </div>
    </div>
    <div class="row background-img-div" style="background-image: url('{% static 'images/bg_2.jpg' %}');"></div>
    <div class="row profile-content-div" >
        <div class="col-3">
            <img class="img-fluid rounded-circle" src="{% static 'images/user1.avif' %}" alt="profile picture"></a>
        </div>
        <div class="col-3"></div> 
        <div class="col-6" id="profile-buttons">
            {% if profile.own_account %}
                <button hx-get="{% url 'profile:edit_profile' %}" hx-target="#edit-profile">
                    <h3>
                        <span>Edit profile</span>
                    </h3>
                </button>
            {% else %}
                {% if profile.is_following %}
                    <button class="button-fl-fr-text" hx-get="{% url 'profile:follow_user' profile.id %}" hx-target=".fl-unfl-button-text">
                        <h3 class="fl-unfl-button-text">Following</h3>
                    </button>
                {% else %}
                    <button class="button-fl-fr-text" hx-get="{% url 'profile:follow_user' profile.id %}" hx-target=".fl-unfl-button-text">
                        <h3 class="fl-unfl-button-text">Follow</h3>
                    </button>
                {% endif %}
            {% endif %}
            {% if profile.is_followed %}
                <span class="ml-auto">Follows you</span>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <p></p>
        <span class="profile-displayname-text">{{ profile.display_name }}</span>
        <p class="profile-ldj-text">@{{ profile.username }}</p>

        <p>{{ profile.bio }}</p>
        
        <p>
            <span><i class="fa-solid fa-location-dot"></i></span><span class="profile-ldj-text"> {{ profile.location }}</span>
            <span class="profile-fl-fr-blank"></span>
            <span><i class="fa-solid fa-cake-candles"></i></span><span class="profile-ldj-text"> Born {{ profile.dob | date:"F j, Y" }}</span>
            <span class="profile-fl-fr-blank"></span>
            <span><i class="fa-regular fa-calendar"></i></span><span class="profile-ldj-text"> Joined {{ profile.doj | date:"F Y" }}</span>
        </p>
        
        <p>
            <span class="profile-fl-fr-numbers">{{ profile.following }}</span><span class="profile-fl-fr-text"> Following</span>
            <span class="profile-fl-fr-blank"></span>
            <span class="profile-fl-fr-numbers">{{ profile.followers }}</span><span class="profile-fl-fr-text"> Followers</span>
        </p>
    </div>
</div>

<!-- Edit Profile Modal -->
<div id="edit-profile-modal" class="modal fade">
    <div id="edit-profile" class="modal-dialog" hx-target="this"></div>
</div>

