ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */

}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

