.card-body {
    margin-top:-1%
}

.post-displayname-text {
    font-size:20px;
    font-weight: bold;
}

.back-button-div {
    background-color: white;
    padding-bottom: 3.5%;
}

.back-button-div button {
    border:none;
    background-color: white;
}

.back-button-div .col-11 {
    padding-left:3.5%;
}

.og-post #post-buttons a:hover {
    cursor:pointer;
}

.op-comments .individual-post-div .card-body {
    margin-top: -4%;
}

.no-comments p {
    padding-top:5%;
}

.og-post .post-in-post {
    padding-left:6%;
    padding-bottom: 2%;
}

.og-post .post-in-post .post-body-text {
    padding-left:2%;
    padding-top:2.5%;
}

.comment-form .post-form-body {
  margin-left:-9%;
}

.comment-form .modal-body {
  border: 0.5px solid #C0C0C0;
  border-bottom:none;
  padding-top: 1.5%;
  padding-left: 5%;
}

.comment-form .modal-body img {
    padding-top:4%;
}

.comment-form .modal-footer {
  padding-top:2%;
  padding-bottom:2%;
  padding-right:2%;
  border: 0.5px solid #C0C0C0;
  border-top:none;
}

.comment-form .modal-footer button {
  background-color: green;
  color:white;
  border:none;
  border-radius: 50px;
  opacity: 0.5;
}

.comment-form .modal-footer h3 {
  font-size: 20px;
  padding-left:5px;
  padding-right:5px;
  padding-top: 7%;
}

.og-post .card-footer .view-quotes-text a {
    color: burlywood;
    text-decoration: none;
    padding: 10px;
}