#profile-buttons {
    /* text-align:right; */
    padding-top: 12%;
    padding-left: 30%;
}

#profile-buttons button {
    border: 1px solid #DCDCDC;
    border-radius: 50px;
    background-color:white;
    color: black;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

#profile-buttons .button-fl-fr-text {
    background-color:black;
}

#profile-buttons h3 {
    font-size: 16px;
    font-weight: 600;
    padding-top: 12%;
}

#profile-buttons .button-fl-fr-text h3 {
    color:white;
}

.profile-fl-fr-numbers {
    font-size:15px;
    color:black;
}

.profile-fl-fr-text {
    font-size:15px;
    color:grey;
}

.profile-fl-fr-blank {
    padding:7.5px;
}

.profile-ldj-text {
    color:grey;
}

.profile-displayname-text {
    font-size:18px;
    font-weight:bold;
}

.background-img-div {
    position: relative;
    background-size: cover; /* Ensure background image covers the area */
    background-position: center; /* Center the background image */
    height: 33%;
    width: 100%;
    padding-top: 12%
}

.profile-content-div {
    margin-top: -9.5%;
}

.profile-content-div img {
    z-index:1;
    border:5px solid white;
    position: relative;
}

.back-button-div {
    background-color: white;
    border: 0.5px solid light grey;
    max-height:15%;
}

.back-button-div button {
    border:none;
    background-color: white;
    margin-top:50%;
}

.back-button-div .col-11 {
    padding-left:3.5%;
}

.profile-posts-content { 
    padding-top:12%;
}

.nav-pills .nav-link {
    color: black
}

.nav-pills .nav-link:hover {
    color:green;
}

.nav-pills .nav-link.active {
    background-color: white; 
    color: black;
  }

.nav-pills .bottom-border-central {
    position: relative;
    padding-top: 10px;
    padding-bottom: 0;
    text-align: center;
}

.nav-pills .nav-link.active .bottom-border-central::after {
    content : '';
    position: absolute;
    bottom: 0;
    left: 20%; /* Center it by offsetting from left */
    width: 60%; /* The border will cover 80% of the width */
    border-bottom: 5.5px solid green; /* The actual bottom border */
    border-radius: 5px;
}

.profile-all-content {
    border: 0.5px solid #D3D3D3;
}

.profile-all-content .card {
    border:none;
    border-bottom:0.5px solid #D3D3D3;
    border-top:0.5px solid #D3D3D3;
}

.post-in-post #profile-pic {
    padding-left: -5%;
    margin-left: -5%;
}

.post-in-post .post-body-text {
    padding-top: 5%;
    padding-left:2.5%;
}

.post-in-post .card {
    border-radius: 15px;
    border: 0.5px solid #C0C0C0;
}

.profile-view-following-link {
    text-decoration: none;
}

.profile-view-following-link:hover .profile-fl-fr-numbers,.profile-view-following-link:hover .profile-fl-fr-text{
    color:green;
}

.view-friends-content .back-button-div {
    background-color: white;
}

.view-friends-content .nav {
    border:0.5px solid #D3D3D3;
    border-top:none;
}

.view-friends-content #back-and-nav-div {
    border:0.5px solid #D3D3D3;
    border-bottom:none;
}

.view-friends-content #friends-div .card {
    border:none;
}

.view-friends-content #friends-div .card-body {
    margin-top:1%;
}

.view-friends-content #friends-div:hover {
    background-color: whitesmoke;
    cursor:pointer;
}

.view-friends-content #friends-div {
    border: 0.5px solid #D3D3D3;
}

.view-friends-content #friends-div button {
    border: 1px solid #DCDCDC;
    border-radius: 50px;
    background-color:black;
    color: white;
    padding: 2%;
    padding-left: 9%;
    padding-right: 9%;
}

