#profile_buttons {
    text-align:right;
}

.profile-fl-fr-numbers {
    font-size:15px;
    color:black;
}

.profile-fl-fr-text {
    font-size:15px;
    color:grey;
}

.profile-fl-fr-blank {
    padding:7.5px;
}

.profile-ldj-text {
    color:grey;
}

.profile-displayname-text {
    font-size:18px;
    font-weight:bold;
}

/* .background-img-div {
    z-index:1;
}

.profile-content-div {
    z-index: 2; 
    clip-path: circle(50% at 50% 50%); 
} */