<h2>Poster: {{ post.poster_id }}</h2>
<li>Body: {{ post.body }}</li>
<li>Likes: {{ post.likes }}</li>
<li>Quotes: {{ post.quotes }}</li>
<li>Comments: {{ post.comments }}</li>
<li>Reposts: {{ post.reposts }}</li>
<a href = "{% url 'posts:like' post.id %}">Like</a>
<a href = "{% url 'posts:unlike' post.id %}">Unlike</a>
<a href = "{% url 'posts:repost' post.id %}">Repost</a>
<a href = "{% url 'posts:unrepost' post.id %}">Unrepost</a>
<a href = "{% url 'posts:comment' post.id %}">Comment</a>
<a href = "{% url 'posts:quote' post.id %}">Quote</a>
